.photo-next-btn{
    width: 73px;
    background: url("/Public/img/arrow.jpg") no-repeat -338px -195px;
    height: 73px;
    position: absolute;
    top: 300px;
    left: 999px;
}
.photo-pre-btn{
    width: 73px;
    background: url("/Public/img/arrow.jpg") no-repeat -338px -105px;
    height: 73px;
    position: absolute;
    top: 300px;
}